@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData[""]</h1>

<h1>PROJETO FINAL DE APRESENTAÇÃO DE CURSO .NET     ATOS-UFN.</h1>
<p>este projeto tem por finalidade CRIAR um software utilizando na sua grande maioria tecnologias mostradas</br>
   em aula durante o período do curso e algumas adições pesquisadas e conhecimentos adquiridos</br>
   por fora para finalizar o mesmo.</p>
<p>aluno UFN-ATOS : Marcelo Silva de Siqueira.</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Universidade_Franciscana_logo.jpg" width="320" height="245">
<img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Atos_logo.png" width="320" height="215">